# Rocky Linux 9 Kickstart File
install 
text

keyboard --xlayouts='gb'
lang en_US.UTF-8

rootpw --plaintext temppassword
authconfig --passalgo=sha512 --enableshadow --enablemd5
selinux --disabled
firewall --disabled

bootloader --location=mbr
clearpart --all --initlabel 
autopart

timezone America/Chicago

network --bootproto=dhcp --onboot=on --hostname={{ hostvars[item]['inventory_hostname'] }}

sshkey --username=root "{{ ssh_public_key }}"

user --name=ansible --password=ansible --iscrypted --gecos="Rocky Admin"

%packages
@^workstation-product-environment
kexec-tools
openssh-server
%end

%post --interpreter=/bin/bash
hostnamectl set-hostname {{ hostvars[item]['inventory_hostname'] }}
%end