#version=RHEL8
# Use text mode
install
text

# Keyboard and language
keyboard --xlayouts='gb'
lang en_US.UTF-8

# Network (dhcp)
network  --bootproto=dhcp \
         --device={{ hostvars[item]['network_interface'] }} \
         --ip={{ hostvars[item]['ansible_host'] }} \
         --netmask={{ ansible_default_ipv4.netmask }} \
         --gateway={{ hostvars[item]['gateway'] }} \
         --nameserver={{ dns_server }} \
         --hostname={{ hostvars[item]['inventory_hostname'] }} \
         --activate

# Partitioning: clear and use only the given disk
clearpart --all --drives={{ hostvars[item]['disk'] }}
ignoredisk --only-use={{ hostvars[item]['disk'] }}

# EFI & XFS root (you can change to ext4 if you prefer)
part /boot/efi    --fstype=vfat --size=512
part pv.01        --grow        --size=1
volgroup vg0 pv.01
logvol /           --fstype=xfs --name=root  --vgname=vg0 --size=65536
logvol swap        --fstype=swap--name=swap  --vgname=vg0 --size=2048

# Repositories
repo --name=BaseOS     --baseurl=http://{{ ansible_default_ipv4.address }}/os/BaseOS
repo --name=AppStream  --baseurl=http://{{ ansible_default_ipv4.address }}/os/AppStream

# First-boot and GUI
firstboot --disable
skipx

# Services & time
services --enabled=chronyd,sshd
timezone {{ timezone }} --utc

# Security
selinux --disabled
firewall --disabled

# Users
user --name=admin --groups=wheel --plaintext  --lock-password
sshkey --username=admin "{{ ssh_public_key }}"
rootpw --lock

# Packages
%packages
@^Minimal Install
openssh-server
%end

# Post-install: raw partition for Ceph
%post
# create one more partition on the remaining space
(
  echo n      # new partition
  echo       # accept default: primary
  echo       # accept default: partition number
  echo       # first sector
  echo       # last sector (rest of disk)
  echo w      # write table
) | fdisk /dev/{{ hostvars[item]['disk'] }}
%end

reboot