services:
  dnsmasq:
    build: ./dnsmasq
    user: root
    volumes:
      - ./dnsmasq/dnsmasq.conf:/etc/dnsmasq.conf
    network_mode: host
    ports:
      - "53:53/udp"
      - "53:53/tcp"
    cap_add:
      - NET_ADMIN